fastapi
uvicorn
pydantic
pymongo[srv]==4.7.3
python-dotenv
requests

# LLM
langchain==0.2.11
langchain-core==0.2.11
langchain-community==0.2.11
langchain-google-genai==3.0.0

# pandas + numpy wheels available
pandas==2.0.3
numpy==1.23.5